.datepicker-fade-in {
  animation: fadeInSlide 0.3s ease forwards;
  transform-origin: top center;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker,
.react-datepicker__day-names {
    border-color: var(--color-point) !important;
}

.react-datepicker__day--selected {
    background-color: var(--color-point) !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: rgba(108, 92, 231, 0.2) !important;
}

.customHeaderContainer {
    display: flex;
    align-items: center;
}

.react-datepicker__current-month,
.react-datepicker__day-names,
.react-datepicker__day {
    font-family: GmarketSansLight;
}

.react-datepicker__day--outside-month {
    color: var(--color-gray-300) !important;
}

.react-datepicker__header {
    background-color: white !important;
    border: 0 in !important;
}

.react-datepicker__day {
    outline: 0;
}

.react-datepicker__day--in-range {
    background-color: rgba(108, 92, 231, 0.3) !important;
    color: black !important;
}

.react-datepicker__day--in-selecting-range {
    background-color: rgba(108, 92, 231, 0.1) !important;
    color: black !important;
}