@import "tailwindcss";
@import "./theme.css";

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: GmarketSansLight, Arial, Helvetica, sans-serif, sans-serif;
  font-weight: bold;
  --background: #0a0a0a;
  --foreground: #ededed;
  line-height: 1.15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: var(--color-point);
  }
}

body, html {
  background: var(--background);
  color: var(--foreground);
  height: 100%;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
  align-content: center;
  text-align: center;
}