@import "tailwindcss";

@import "./theme.css";

@import 'react-calendar/dist/Calendar.css';
@import "./calendar.css";

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";
@import "./react-grid-layout.css";

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: GmarketSansLight, Arial, Helvetica, sans-serif, sans-serif;
  font-weight: bold;
  --background: white;
  --foreground: black;
  line-height: 1.15;
}

body, html {
  /* background: var(--background); */
  /* color: var(--color-point); */
  height: 100%;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
  align-content: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-point);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}